packages/
XamMapz/bin/
XamMapz/obj/
XamMapz.Droid/obj/
XamMapz.Droid/bin/
XamMapz.iOS/bin/
XamMapz.iOS/obj/
*.nupkg
Samples/XamMapz.Sample.Droid/obj/
Samples/XamMapz.Sample.Droid/bin/
*.userprefs
Samples/XamMapz.Sample.iOS/bin/
Samples/XamMapz.Sample.iOS/obj/
*.suo
